[Unit]
Description=Gunicorn instance to serve c.ookie.click/er/leaderboard
After=network.target

[Service]
User=boa
Group=caddy
WorkingDirectory=/web/cookiepy
Environment="PATH=/web/cookiepy/venv/bin"
ExecStart=/web/cookiepy/venv/bin/gunicorn --workers 3 --bind unix:/tmp/cookiepy.sock -m 007 main:app

[Install]
WantedBy=multi-user.target
