http://ookie.click {
	bind unix//run/caddy/main.sock
	redir https://c.ookie.click/er/
}

http://c.ookie.click {
	bind unix//run/caddy/main.sock
	root * /web/c.ookie.click/
	file_server
	log {
		output file /var/log/caddy/c.ookie.click.log {
			#roll_size 8MiB
			roll_uncompressed
			roll_keep 8
			roll_keep_for 24h
		}
	}

	redir / /er/
	#redir /er/cf https://dash.cloudflare.com/x/ookie.click

	reverse_proxy /er/leaderboard/* unix//tmp/cookiepy.sock # todo?
}
